    /* CARDS */
    .card-custom {
      background: #fff;
      border: 1px solid #ddd;
      padding: 25px;
      height: 100%;
    }

    .card-large {
      background: #fff;
      border: 1px solid #ddd;
      padding: 30px;
    }


