.hero {
  position: relative;
  min-height: 800px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 100px 0;
  background-color: #202020;
}

.hero .container {
  position: relative;
  z-index: 10;
}

.hero h1 {
  color: #ffffff;
  font-weight: 700;
}

.hero h1 span {
  color: #7dd3fc;
}

.hero p {
  color: rgba(255, 255, 255, 0.75) !important;
  max-width: 700px;
  font-size: 18px;
  margin-top: 20px;
}