 /* IMAGE BOX */
    .hero-img {
      position: relative;
    }

    .hero-img-box {
      background: #000;
      padding: 10px;
    }

    .hero-img img {
      width: 100%;
    }
     
.hero {
  position: relative;
  min-height: 400px;
  display: flex;
  align-items: flex-end;
  padding: 100px 0 40px;
  overflow: hidden;
}

.hero .container {
  position: relative;
  z-index: 1;
}
