<!-- FOOTER -->
<footer class="footer">
  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <div class="d-flex align-items-center">
          <img ngSrc="/dll-logo.webp" alt="Logo" width="20" height="20" class="me-1">
          <h6 class="mb-0">Dhaka Logic Ltd.</h6>
        </div>
        <p>Engineering-led solutions for global enterprise.</p>
      </div>


      <div class="col-md-2">
        <h6>SERVICES</h6>
        <p><a routerLink="/services" class="footer-link">All Services</a></p>
        <p><a routerLink="/development" class="footer-link">Development</a></p>
        <p><a routerLink="/ai-web" class="footer-link">AI &amp; Web Tools</a></p>
      </div>

      <div class="col-md-3">
        <h6>TECHNOLOGIES</h6>
        <p><a routerLink="/technology" class="footer-link">All Technologies</a></p>
        <p><a routerLink="/technology/dotnet" class="footer-link">.NET</a></p>
        <p><a routerLink="/technology/frontend-development" class="footer-link">Frontend</a></p>
      </div>

      <div class="col-md-2">
        <h6>INDUSTRY</h6>
        <p><a routerLink="/industries" class="footer-link">Manufacturing ERP</a></p>
      </div>

      <div class="col-md-2">
        <h6>HAVE A PROJECT?</h6>
        <a class="btn btn-light text-dark mt-2" routerLink="/contact">CONTACT US</a>
      </div>

    </div>

    <hr>

    <!-- <div class="d-flex justify-content-between footer-bottom">
    <p>© {{year}} DHAKA LOGIC Ltd.</p>
    <div>
      <a href="#">Privacy</a> |
      <a href="#">Terms</a>
    </div>
  </div> -->
  </div>
</footer>