<!-- FOOTER -->
<footer class="footer">
  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <div class="d-flex align-items-center">
          <img src="/dll-logo.webp" alt="Logo" width="20" height="20" class="me-1">
          <h6 class="mb-0">Dhaka Logic Ltd.</h6>
        </div>
        <p>Engineering-led solutions for global enterprise.</p>
      </div>


      <div class="col-md-3">
        <h6>SERVICES</h6>
        <p>Consulting</p>
        <p>Development</p>
      </div>

      <div class="col-md-3">
        <h6>RESOURCES</h6>
        <p>Case Studies</p>
      </div>

      <div class="col-md-3">
        <h6>HAVE A PROJECT?</h6>
        <a class="btn btn-light text-dark mt-2" routerLink="/contact">CONTACT US</a>
      </div>

    </div>

    <hr>

    <!-- <div class="d-flex justify-content-between footer-bottom">
    <p>© {{year}} DHAKA LOGIC Ltd.</p>
    <div>
      <a href="#">Privacy</a> |
      <a href="#">Terms</a>
    </div>
  </div> -->
  </div>
</footer>