

:host {
  display: block;
  flex-shrink: 0;
}

.footer {
  background-color: #202020;
  color: #aaa;
  padding: 60px 0 20px;
}

.footer-link {
  color: #aaa;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-link:hover {
  color: #fff;
}