.dropdown-menu {
  border-radius: 0;
  border: 1px solid #ddd;
  padding: 10px 0;
}

.dropdown-item {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background: #111;
  color: #fff;
}

/* NAV */
.navbar-custom {
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.dropdown-toggle-split::after {
  margin-left: 2px;
}

.nav-item .d-flex {
  align-items: center;
}


/* HERO */
.hero {
  padding: 120px 0 80px;
}

.hero h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
}

.hero span {
  color: #0e0d0d;
}

.hero small {
  font-size: 12px;
  letter-spacing: 2px;
  color: #0f0f0f;
}

/* BUTTONS */
.btn-main {
  background-color: #202020;
  color: #fff;
  padding: 12px 25px;
  border: none;
  font-weight: 600;
}

.btn-main:hover {
  background: #131212;
}


.stats-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #fff;
  padding: 15px 20px;
}

/* CARDS */
.card-custom {
  background: #fff;
  border: 1px solid #ddd;
  padding: 25px;
  height: 100%;
}

.card-large {
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px;
}

/* SECTION */
.section-title {
  text-align: center;
  margin: 100px 0 20px;
}

.section-title h2 {
  font-weight: 700;
  letter-spacing: 1px;
}

/* FEATURES */
.feature-box {
  background: #fff;
  border: 1px solid #ddd;
  padding: 25px;
}

/* CTA */
.cta {
  background-color: #202020;
  color: #fff;
  padding: 60px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta h2 {
  font-size: 42px;
  font-weight: 700;
}

.cta .btn {
  background: #fff9f9;
  border: none;
  color: #070707;
  font-weight: bold;
}