
/* CTA */
.cta {
  background-color: #202020;
  color: #fff;
  padding: 60px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta h2 {
  font-size: 42px;
  font-weight: 700;
}

.cta .btn {
  background: #fff9f9;
  border: none;
  color: #070707;
  font-weight: bold;
}