 /* Hero */
        .hero {
            background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)),
                url('https://lh3.googleusercontent.com/aida-public/AB6AXuB_BgX1yLQLPewiX7YoOi5r4sJLv8a_xhfUMT9kS2g7lRKJyaZFwk-0kRgom4IZrsa2OyWcceKzepQ2pNRlhGch6jukauiAZG4vpSv8Zx4CGgrSaPjyZy42VX45iIGiKRTYiGyQ52Dva_CmWHf-u0UKknDAXj1D3KTNOMaA_BZ_2NhU1TE-oj2Ni60uh8lOwxq6fYxGWpSreQqgX-QMFlaoJinQrDccEojKMVfVYE5eIP0fu-7sTiHww6PcbJ_MvfXqjRHIic3xfkY');
            background-size: cover;
            min-height: 400px;
            display: flex;
            align-items: flex-end;
            padding: 100px 0 40px;
        }