
   /* HERO */
        .hero {
            padding: 140px 0 100px;
        }

        .hero-label {
            font-size: 11px;
            letter-spacing: 2px;
            background: #eee;
            display: inline-block;
            padding: 6px 10px;
        }

        .hero h1 {
            font-size: 70px;
            line-height: 1;
            font-weight: 700;
        }

        .hero-red {
            color: #0c0b0b;
        }

        .hero-img {
            position: relative;
        }

        .hero-img img {
            width: 100%;
            border: 1px solid #111;
        }

        .floating-icon {
            position: absolute;
            right: -15px;
            bottom: -15px;
            background: #474747;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 24px;
        }

        /* SECTION */
        .section {
            padding: 100px 0;
        }

        .section-title {
            font-size: 52px;
            font-weight: 700;
        }

        .sub-red {
            color: #020202;
            font-weight: 700;
        }

        /* CARDS */
        .dev-card {
            background: #fff;
            border: 1px solid #ddd;
            padding: 30px;
            height: 100%;
            transition: .3s;
        }

        .dev-card:hover {
            border-color: #000;
        }

        .dark-card {
            background: #000;
            color: #fff;
        }

        .small-label {
            font-size: 11px;
            letter-spacing: 1px;
            color: #777;
        }

        /* DELIVERY */
        .delivery-card {
            border: 1px solid #ddd;
            background: #fff;
            padding: 30px;
            position: relative;
            min-height: 220px;
        }

        .delivery-number {
            position: absolute;
            right: 20px;
            top: 10px;
            font-size: 60px;
            color: #eee;
            font-weight: bold;
        }

        /* BLOG */
        .blog-card img {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }

        .blog-card h5 {
            font-size: 24px;
            font-weight: 700;
        }

        /* FORM */
        .form-section {
            padding: 100px 0;
        }

        .form-box {
            background: #fff;
            border: 1px solid #ddd;
            padding: 40px;
        }

        .form-control,
        .form-select {
            background: #eee;
            border: none;
            border-radius: 0;
        }

        .form-control:focus,
        .form-select:focus {
            box-shadow: none;
            border: 1px solid #000;
        }

        .submit-btn {
            background: #0c0c0c;
            color: #fff;
            border: none;
            width: 100%;
            padding: 14px;
            font-weight: 700;
        }
 
 
 /* FAB */
        .fab {
            position: fixed;
            right: 30px;
            bottom: 30px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: none;
            background: #070707;
            color: #fff;
            font-size: 22px;
            z-index: 999;
        }