  <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
    <div class="container main-content">
      
<a class="navbar-brand fw-bold d-flex align-items-center" routerLink="/">
    <img src="/dll-logo.png" alt="DLL Logo" width="30" height="30" class="me-2">
   Dhaka Logic Ltd.
</a>


      <ul class="navbar-nav mx-auto gap-4">
        <!-- <li><a class="nav-link" href="/home_dhaka_logic_limited/homeTest.html">Home</a></li> -->
        <li class="nav-item dropdown">

          <!-- <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Services
                    </a> -->
          <div class="d-flex align-items-center">

            <!-- MAIN LINK -->
            <a class="nav-link pe-1" routerLink="/services">
              Services
            </a>

            <!-- DROPDOWN TOGGLE -->
            <a class="nav-link dropdown-toggle dropdown-toggle-split"  role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
            </a>

            <!-- DROPDOWN MENU -->
            <ul class="dropdown-menu">

              <li>
                <a class="dropdown-item" routerLink="/development">
                  Development
                </a>
              </li>

              <li>
                <a class="dropdown-item" routerLink="/ai-web">
                  AI-Development Tool
                </a>
              </li>

            </ul>

          </div>
         
        </li>
        <li><a class="nav-link" routerLink="/about">About</a></li>
        <li><a class="nav-link" routerLink="/faq">FAQ</a></li>
         <!-- <li><a class="nav-link" routerLink="/career">Career</a></li> -->
        <li><a class="nav-link"routerLink="contact">Contact</a></li>
      </ul>

      <button class="btn btn-dark">Get Started</button>
    </div>
  </nav>