.products-section {
    background: #2c2c30;
}

.product-item {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding: 25px 0;
}

.product-item h4 {
  color: #ffffff;
  font-weight: 600;
}

.product-item p {
  color: #cfd8dc;
  font-size: 14px;
}

.product-item a {
  color: #7dd3fc;
  font-weight: 500;
  text-decoration: none;
}

.product-item a:hover {
  text-decoration: underline;
}