 /* HERO */
        .hero {
            padding: 140px 0 40px;
            text-align: center;
        }

        .hero h1 {
            font-size: 60px;
            font-weight: 700;
        }

        .hero p {
            max-width: 700px;
            margin: auto;
            color: #555;
        }

        .icon-box i {
            font-size: 18px;
        }

        /* LEFT BOX */
        .contact-box {
            background: #fff;
            border: 1px solid #ddd;
            padding: 25px;
            transition: .3s;
        }

        .contact-box:hover {
            border-color: #000;
        }

        .icon-box {
            width: 40px;
            height: 40px;
            background: #eee;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }

        /* DARK BLOCK */
        .dark-box {
            background: #000;
            color: #fff;
            padding: 30px;
        }

        /* FORM */
        .form-box {
            background: #fff;
            border: 1px solid #ddd;
            padding: 40px;
        }

        .form-control,
        .form-select {
            background: #eee;
            border: none;
            height: 45px;
        }

        textarea {
            height: 120px !important;
        }

        .form-control:focus {
            box-shadow: none;
            border: 1px solid #000;
        }

        /* RANGE */
        .range {
            width: 100%;
        }

        /* BUTTON */
        .submit-btn {
            background: #000;
            color: #fff;
            padding: 15px;
            border: none;
        }
